.articles__top {
  display: flex;
  flex-direction: row;
  margin-bottom: 26px;
}

.articles__link {
  display: block;
  width: 100%;
}

.articles__sort {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.articles__sort-item {
  position: relative;
  margin-right: 5px;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 1px;
    height: 20px;
    background-color: #707070;
    content: '';
  }

  &:last-child::after {
    display: none;
  }
}

.articles__sort-button {
  padding: 5px 7px;
  border: none;
  appearance: none;
  background-color: transparent;
  border-radius: 4px;
  color: $color-text;
  font-size: 9px;
  white-space: nowrap;

  &:hover {
    background-color: $hover-color;
  }
}

.articles__sort-item--active {
  border-right: none;

  &:after {
    display: none;
  }

  .articles__sort-button {
    background-color: $green;
    color: $white;
    cursor: default;

    &:hover {
      background-color: $green;
    }
  }
}

.articles__link-button {
  position: relative;
  display: flex;
  max-width: 91px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  background-color: $green;
  background-image: url('../../public/img/grow-arrow.svg');
  background-position: 95% 5px;
  background-repeat: no-repeat;
  background-size: 8.8px 8.8px;
  border-radius: 4px;
  color: $white;
  font-family: inherit;
  font-size: 9px;
  font-weight: 400;
  text-transform: none;
}

.articles__link-icon {
  position: absolute;
  top: 25%;
  right: 5px;
}

.articles__bottom {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

@media (min-width: $tablet-width) {
  .articles__sort {
    margin-right: auto;
  }

  .articles__sort-item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .articles__sort-button {
    height: 100%;
    font-size: 13px;
  }

  .articles__link:nth-child(n + 3) {
    display: flex;
  }

  .articles__link-button {
    max-width: 133px;
    font-size: 13px;
  }

  .articles__link-icon {
    top: 30%;
  }

  .articles__bottom {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    column-gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .articles {
    padding-top: 61px;
    padding-bottom: 65px;
  }

  .articles__top {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 26px;
  }

  .articles__sort-item {
    margin-right: 11px;

    &::after {
      right: -5px;
    }

    &:nth-child(even) {
      margin-right: 14px;
    }
  }

  .articles__bottom {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }

  .articles__link {
    margin-right: auto;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
