.breadcrumb__link {
  color: rgba($color-text, 0.75);
}

.breadcrumb {
  position: relative;
  margin-right: 20px;

  &::after {
    @include pseudo('', 8px, 8px);
    position: absolute;
    top: 4px;
    right: -11px;
    border: 1px solid $color-text;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
  }

  &:last-child::after {
    display: none;
  }

  &--active {
    .breadcrumb__link {
      color: rgba($green, 0.75);
    }
  }
}
