.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  appearance: none;
  background-color: $green;
  border-radius: 4px;
  color: $white;
  font-size: $button-fs;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.55px;
  line-height: $button-lh;
  text-transform: uppercase;

  &:hover {
    background-color: #65a929;
    color: $white;
  }

  &:active {
    background-color: #6db131;
    color: $white;
  }
}

.button-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: $white;
  font-size: $button-fs;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.55px;
  line-height: $button-lh;
  text-transform: uppercase;
}

.slider-button {
  position: relative;
  width: 26px;
  height: 26px;
  border: none;
  appearance: none;
  background-color: $inactive-color;
  border-radius: 6px;
  color: $white;

  &:hover {
    background-color: $blue;
  }

  &:last-child {
    margin-left: 3px;
  }
}

.slider-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  color: $white;
}

.cross-button {
  position: absolute;
  top: 15px;
  right: 17.5px;
  width: 18.5px;
  height: 19px;
  border: none;
  appearance: none;
  background-color: transparent;
  color: transparent;
  color: $color-text;

  &:after {
    @include pseudo('', 2px, 19px);
    position: absolute;
    top: 0;
    left: 9px;
    background-color: $color-text;
    transform: rotate(45deg);
  }
  &:before {
    @include pseudo('', 2px, 19px);
    position: absolute;
    top: 0;
    left: 9px;
    background-color: $color-text;
    transform: rotate(-45deg);
  }

  &:hover {
    &::after,
    &::before {
      background-color: #fc5a8d;
    }
  }
}
