.geo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-display: column;
}

.geo__icon {
  position: absolute;
  top: 15px;
  left: 10px;
  color: $color-text;
}

.geo__select {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  padding-left: 25px;
  border: none;
  appearance: none;
  background-color: transparent;
  color: $color-text;
  font-size: 10px;
  outline: none;

  .select__control {
    position: relative;
    border: none;
    background-color: transparent !important;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  .select__menu {
    left: 0;
  }

  .select__menu-list {
    max-height: 100% !important;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: $color-text;
  }
}

.geo__form {
  height: 100%;
}

.geo__city {
  min-width: 100%;
  min-height: 100%;
}

.geo__result-icon {
  position: absolute;
  top: 8px;
  left: -17px;
}

.geo__selection {
  position: relative;
  display: flex;
  min-height: 72px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .section__inner {
    position: relative;
    height: 100%;
  }

  &:hover,
  :active {
    background-color: $blue;

    .geo__icon {
      color: $white;
    }

    .geo__select {
      background-color: transparent;
      color: $white;
    }

    .select__single-value,
    .select__placeholder,
    .select__indicator {
      color: $white;
    }

    .select__option {
      color: $color-text;
    }
  }
}

.geo__results > .section__inner {
  width: 320px;
  padding-left: 12px;
}

.geo__results {
  padding-top: 11px;
  padding-bottom: 18px;
}

.geo__results-title {
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;
}

.geo__results-list {
  padding: 0;
  padding-top: 2px;
  margin: 0;
  font-size: 10px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .geo__select {
    .select__indicator {
      position: absolute;
      right: 10px;
    }
  }

  .geo__results-title {
    padding-right: 80px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .geo__results {
    display: flex;
    justify-content: flex-end;
  }

  .geo__select {
    min-height: 100%;
    padding-left: 21px;

    .select__indicator {
      position: static;
    }
  }

  .geo__selection {
    height: 72px;
    min-height: 72px;
    justify-content: flex-start;

    &::after {
      top: 27px;
      right: 23px;
      width: 8px;
      height: 8px;
    }
  }

  .geo__icon {
    top: 40%;
    left: 46px;
  }

  .geo__results > .section__inner {
    padding-left: 33px;
  }

  .geo__results-title {
    padding-right: 80px;
  }

  .geo__results-list {
    padding-top: 0;
  }

  .geo__result-icon {
    top: 7px;
    left: -20px;
  }
}
