.main {
  padding-top: 53px;
}

.main__title {
  position: relative;
  margin: 0;
  margin-bottom: 59px;
  font-size: $title-h2-fs;
  font-weight: 500 !important;
  line-height: $title-h2-lh;

  &::after {
    @include titleAfter();
    top: calc(100% + -15px);
    left: 4px;
    color: rgba($blue, 0.6);
  }
}

@media (min-width: $tablet-width) {
  .main {
    padding-top: 46px;
  }

  .main__title {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .main {
    padding-top: 58px;
  }

  .main__title {
    padding-left: 5px;
  }
}
