.search-modal {
  max-height: 1px;
  padding-top: 29px;
  background-image: url('../../public/img/search-modal.webp'),
    linear-gradient(
      to left,
      RGBA(250, 0, 235, 1),
      RGBA(154, 102, 245, 1),
      RGBA(43, 215, 255, 1)
    );
  background-position: 30% 70%, 0 0;
  background-repeat: no-repeat;
  background-size: 50%, cover;
  color: $white;
  font-weight: 500;
  transition: max-height 350ms ease-in-out;

  .section__inner {
    padding-left: 0;
  }

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url('../../public/img/search-modal@2x.webp'),
      linear-gradient(
        to left,
        RGBA(250, 0, 235, 1),
        RGBA(154, 102, 245, 1),
        RGBA(43, 215, 255, 1)
      );
  }
}

.search-modal__title {
  position: relative;
  padding-left: 3px;
  margin: 0;
  margin-bottom: 64px;
  color: $white;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;

  &::after {
    @include titleAfter();
    top: 26px;
    left: 131px;
  }
}

.search-modal__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 11px;
}

.search-modal__container-top {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 2px;
  padding-right: 0;
  padding-bottom: 6px;
}

.search-modal__container-top-text {
  display: none;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 9px;
  line-height: 7.7px;
}

.search-modal__container-input-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 4px;
}

.search-modal__input {
  flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 9.3px;
  border: none;
  appearance: none;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  font-family: inherit;
  font-size: 10px;
}

.search-modal__categories {
  display: none;
  border: none;
  border-left: 1px solid $border-color;
}

.search-modal__button {
  display: flex;
  min-width: 78px;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  appearance: none;
  background-color: $blue;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;
}

.search-modal__icon {
  width: 20px;
  height: 20px;
}

.search-modal__controls {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 0;
}

.search-modal__hint {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-left: 28px;
  font-size: $body-fs;
  font-weight: 400;
}

.search-modal__hint-icon {
  position: absolute;
  top: 4px;
  left: 5px;
}

.search-modal__hint-dotted {
  height: 23px;
  padding-left: 3px;
  border-bottom: 0.5px dashed $white;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $white;
  }
}
.search-modal__search-examples {
  display: flex;
  align-self: flex-start;
  padding: 0;
  font-display: row;
  list-style: none;
}

.search-modal__search-examples-item {
  display: flex;
  flex-direction: column;
  margin-right: 71px;
}

.search-modal__example {
  margin-bottom: 17px;
  color: $white;

  &:hover {
    color: #707070;
  }
}

@media (min-width: $tablet-width) {
  .search-modal__title {
    margin-right: auto;

    &::after {
      @include titleAfter();
    }
  }

  .search-modal__title-br {
    display: none;
  }

  .search-modal__container-top-text {
    display: flex;
    font-size: 11px;
    line-height: 16px;
  }

  .search-modal__categories {
    display: block;
    min-height: 41px;
    background-color: #fff;
    color: $color-text;

    .select {
      min-height: 100%;
    }

    .select__content {
      top: 41px;
    }
  }

  .search-modal__input {
    flex-grow: 2;
  }
}

@media (min-width: $desktop-width) {
  .search-modal {
    display: flex;
    min-height: 594px;
    align-items: center;
  }

  .search-modal__container {
    padding-right: 2px;
    padding-left: 24px;
  }

  .search-modal__container-top {
    padding-top: 4px;
    padding-right: 110px;
  }

  .search-modal__container-top-text {
    align-items: center;
    padding-top: 5px;
    padding-right: 15px;
    font-size: $body-fs;
    letter-spacing: -0.3px;
  }

  .search-modal__title {
    @include titleh2($white);
    position: relative;
    margin-bottom: 10px;
    letter-spacing: -0.1px;

    &::after {
      @include titleAfter();
    }
  }

  .search-modal__container-input-group {
    min-height: 57.5px;
    padding-left: 0;
    margin-bottom: 7px;
  }

  .search-modal__input {
    padding-top: 19px;
    padding-bottom: 18px;
    padding-left: 19.3px;
    font-size: 14px;
    letter-spacing: -0.3px;
  }

  .search-modal__categories {
    position: relative;
    min-width: 218px;
    min-height: 53.8px;
    padding-left: 22px;
    background-position-x: 91%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    letter-spacing: -0.5px;

    .select__content {
      top: 53px;
    }
  }

  .search-modal__button {
    min-width: 73px;
  }

  .search-modal__icon {
    width: 26px;
    height: 26px;
  }

  .search-modal__hint {
    position: relative;
    padding-left: 22px;
    font-size: $body-fs;
    letter-spacing: 1px;
  }

  .search-modal__hint-icon {
    position: absolute;
    top: -2px;
    left: 0;
    display: flex;
  }

  .search-modal__hint-dotted {
    height: 18px;
    padding-left: 1px;
    letter-spacing: -0.28px;
  }

  .search-modal__search-examples {
    display: flex;
    align-self: flex-start;
    padding: 0;
    font-display: row;
    list-style: none;
  }

  .search-modal__search-examples-item {
    display: flex;
    flex-direction: column;
    margin-right: 71px;
  }
}
