.section__inner {
  position: relative;
  min-width: $mobile-width;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.section__title {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 500;

  &::after {
    @include titleAfter();
    position: absolute;
    top: 32px;
    left: 4px;
  }
}

@media (min-width: $tablet-width) {
  .section__inner {
    width: $tablet-width;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .section__inner {
    position: relative;
    width: $desktop-width;
    padding: 0;
    padding-left: 0;
  }
}
