html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  background-color: $bg-color;
  font-family: $main-font;
  font-size: $body-fs;
  line-height: $body-lh;
  overflow-x: hidden;
  -ms-scroll-limit-x-max: 0;
  @include font($color-text);
}

a {
  color: $color-text;
  outline-color: $color-text;
  text-decoration: none;

  &:hover,
  :active {
    color: $color-text;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}

svg {
  width: auto;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  outline-color: $color-text;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }

  &[type='time']::-webkit-calendar-picker-indicator {
    display: none;
  }

  &[type='date']::-webkit-calendar-picker-indicator {
    display: none;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}
#root {
  overflow-x: hidden;
}

textarea {
  resize: none;
}

@media (min-width: $tablet-width) {
  body {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    min-width: $desktop-width;
  }
}
