@import '../node_modules/swiper/swiper.scss';
@import '../node_modules/swiper/components/navigation/navigation';
@import '../node_modules/swiper/components/pagination/pagination.scss';
@import '../node_modules/swiper/components/scrollbar/scrollbar.scss';
@import './blocks/slider';
@import './variables';
@import './mixin';
@import './normalize';
@import './base';
@import './blocks/visually-hidden';
@import './blocks/inner';
@import './blocks/aninations';
@import './blocks/select';
@import './blocks/buttton';
@import './blocks/active';
@import './blocks/svg';
@import './blocks/header';
@import './blocks/header-top';
@import './blocks/cart-modal.scss';
@import './blocks/header-bottom';
@import './blocks/search-modal.scss';
@import './blocks/cities';
@import './blocks/header-top-fixed';
@import './blocks/nav';
@import './blocks/main';
@import './blocks/section';
@import './blocks/search';
@import './blocks/actual-offers';
@import './blocks/actual-offer';
@import './blocks/complexes';
@import './blocks/complex';
@import './blocks/links';
@import './blocks/link';
@import './blocks/articles';
@import './blocks/article';
@import './blocks/shares';
@import './blocks/share';
@import './blocks/features';
@import './blocks/footer';
@import './blocks/form-section';
@import './blocks/form';
@import './blocks/map';
@import './blocks/geo';
@import './blocks/result';
@import './blocks/contacts';
@import './blocks/contact';
@import './blocks/footer-nav';
@import './blocks/tab';
@import './blocks/copyrights';
@import './blocks/copyright-top';
@import './blocks/copyright-bottom';
@import './blocks/socials';
@import './blocks/social';
@import './blocks/creators-team';
@import './blocks/breadcrumbs';
@import './blocks/breadcrumb';
@import './blocks/specialists';
@import './blocks/specialists-filter';
@import './blocks/specialist';
@import './blocks/specialist-form';
@import './blocks/form-step';
@import './blocks/ymap';
