$main-font: 'Graphik LCG', 'Arial', sans-serif;
$alt-font: 'Arial', sans-serif;
$color-text: #4a4a4a;
$alt-color-text: #fff;
$label-color: #222;
$icons-color: #4a4a4a;
$alt-icons-color: #222;
$alt-base-color: #fff;
$bg-color: #fff;
$border-color: RGBA(112, 112, 112, 0.2);
$box-shadow: 1px 1px 22px 0 RGBA(74, 74, 74, 0.2);
$green: #65bc29;
$white: #fff;
$blue: #4faaed;
$hover-color: #f7f7f7;
$inactive-color: #dedede;
$body-fs: 12px;
$body-lh: 16px;
$alt-fs: 13px;
$alt-lh: 17px;
$title-h2-fs: 33px;
$title-h2-lh: 44px;
$title-h3-fs: 20px;
$title-h3-lh: 27px;
$title-h4-fs: 16px;
$title-h4-lh: 21px;
$title-h5-fs: 14px;
$title-h5-lh: 19px;
$button-fs: 12px;
$button-lh: 16px;
$title-after-opacity: 0.3;
$mobile-width: 320px;
$big-mobile-width: 425px;
$tablet-width: 720px;
$desktop-width: 1210px;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
$social-odn-color: #ed812b;
$social-vk-color: #4c75a3;
$social-fb-color: #4267b2;
$social-inst-color: #833ab4;
$liner-gradient: linear-gradient(-135deg, #ff00eb 0, #9a66f5 50%, #2bd7ff 100%);
